.card {
  height: 100%;
 
}

.card-img-top{

  height: 250px;
  background-size:cover;
}

.card-text{
  font-size: 15px;
  height: 100px;
  overflow: hidden;

}

.fa-times-circle-o{
  font-size: 25px;
  color:orange
}

.fa-arrow-up,.fa-arrow-down{
  color:orange
}
