<div class="container">
  <label>
    <select (change)="onChange($event)" placeholder="select category">
      <option value="" disabled selected>pick your category</option>
      <option value="{{ category }}" *ngFor="let category of categories">
        {{ category }}
      </option>
    </select>
  </label>

  <div *ngIf="categoryProduct.length; else cicciogamer">
    <div class="row d-flex align-items-center">
      <div *ngFor="let product of categoryProduct" class="col">
        <div class="card mx-3 my-3 text-center" style="width: 20rem">
          <img
            class="card-img-top"
            src="{{ product.thumbnail }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            <div class="">
              <button type="button" class="btn btn-outline-dark">
                €{{ product.price }}
              </button>
              <button
                href="#"
                class="btn btn-dark mx-3"
                (click)="getDetail(product.id)"
              >
                Scopri di più!
              </button>
              <button (click)="addToCart(product.id)" class="btn btn-success">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cicciogamer>
    <div class="row d-flex align-items-center">
      <div *ngFor="let product of products" class="col">
        <div class="card mx-3 my-3 text-center" style="width: 20rem">
          <img
            class="card-img-top"
            src="{{ product.thumbnail }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            <div class="">
              <button type="button" class="btn btn-outline-dark">
                €{{ product.price }}
              </button>
              <button
                href="#"
                class="btn btn-dark mx-3"
                (click)="getDetail(product.id)"
              >
                Scopri di più!
              </button>
              <button (click)="addToCart(product.id)" class="btn btn-success">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
