<div class="container">
  <div class="row d-flex align-items-center">
    <div *ngFor="let product of products" class="col">
      <div class="card mx-3 my-3 text-center" style="width: 20rem">
        <img
          class="card-img-top"
          src="{{ product.images[0] }}"
          alt="Card image cap"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <div class="">
            <button type="button" class="btn btn-outline-dark">
              €{{ product.price }}
            </button>
            <button
              href="#"
              class="btn btn-dark mx-3"
              (click)="getDetail(product.id)"
              >Scopri di più!</button
            >
            <a href="#" class="btn btn-success">
              <i class="fa fa-cart-plus" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
