.price {
  font-size: 50px;
}

.discount {
  font-size: 20px;
}

a {
  font-size: 30px;
}

.desc {
  margin-left: 30px;
  margin-right: 30px;
}

.imgcarousel {
  border-radius: 15%;
}

.fa-star{
  color: rgb(255, 223, 11);
}
